/* == IMPORT FONTS == */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
/* == ROOT & BODY == */
:root {
  --bg-grad: linear-gradient(50deg,
      rgb(255, 173, 173),
      rgb(255, 214, 163),
      rgb(253, 255, 184),
      rgb(200, 255, 189),
      rgb(153, 246, 255),
      rgb(158, 195, 255),
      rgb(190, 179, 255),
      rgb(255, 199, 255),
      rgb(255, 255, 250));
  --link-clr: rgb(255, 173, 173);
  --hv-clr: #fff;
  --text-clr: #fff;
  --text-body-family: "Montserrat";
  --text-header-family: "Playfair Display";
}

body {
  margin: 0;
  padding-bottom: 2em;
  color: white;
  background-color: #111 !important;
  font-family: var(--text-header-family);
}

/* == NAVBAR == */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: -1px 10px 0 20px !important;
  transition: background-color 0.25s;
  z-index: 1;
  --link-clr: #000a;
  --hv-clr: var(--link-clr);
  color: var(--link-clr);
}
nav li {
  margin: 0 20px;
}
nav a {
  font-size: 30px;
}
nav .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
}
nav.light {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
}
nav.scrolled {
  background-color: rgba(0, 0, 0, 0.6666666667);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2666666667);
  --link-clr: #bbb;
  --hv-clr: #eee;
}
nav.scrolled .navbar-brand,
nav.scrolled .nav-link,
nav.scrolled a {
  color: var(--link-clr) !important;
}
@supports not (backdrop-filter: blur(1px)) {
  nav.light {
    background-color: rgba(255, 255, 255, 0.9333333333);
  }
  nav.scrolled {
    background-color: rgba(0, 0, 0, 0.8666666667);
  }
}

/* == HEADER == */
#header {
  background-color: #c14953;
  background: var(--bg-grad);
  background-size: 500% 500%;
  animation: bg-anim 20s ease-in-out infinite alternate;
  width: 100%;
  margin-bottom: 40px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5333333333);
}
#header .welcome,
#header .icons {
  animation: appear-anim 1.75s;
  margin: 40px auto;
}
#header img {
  height: 100px;
}
#header .welcome {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 175px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6666666667);
}
#header .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#header .icons > .icon {
  margin: 0 7%;
}

/* == CONTENT == */
.container {
  color: #ccc;
  overflow: auto;
  --link-clr: #faa;
}
.container h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.container p {
  font-family: var(--text-body-family);
  font-size: 24px;
  font-weight: 100;
}
.container #selfie {
  display: block;
  aspect-ratio: 1/1;
  float: right;
  max-height: 300px;
  border-radius: 5%;
  opacity: 0;
  transition: transform 1s, opacity 1.5s;
}
.container #selfie.in-view {
  opacity: 1;
  transform: translateX(-10px);
}

.card {
  padding: 0;
  border: 0 !important;
  margin: 0 20px;
  --link-clr: white;
  color: #666;
  overflow: hidden;
  background-color: rgba(248, 248, 255, 0.9333333333);
  position: relative;
  border-top-left-radius: 5% !important;
  border-top-right-radius: 5% !important;
  border-bottom-left-radius: 5% !important;
  border-bottom-right-radius: 5% !important;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1333333333);
  transition: background-color 0.25s;
}
.card .card-text {
  font-family: var(--text-body-family);
  font-weight: 300;
}
.card .btn {
  margin: 10px;
  border: 0 !important;
  font-family: var(--text-body-family);
  font-weight: 200;
}
.card .card-img-top {
  aspect-ratio: 16/9;
  transition: transform 0.5s;
  transform-origin: top;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card:hover,
.card:focus {
  background-color: rgba(248, 248, 255, 0.8666666667);
}
.card:hover .card-img-top,
.card:focus .card-img-top {
  transform: scale(1.1);
}

p.archive-note {
  margin-top: 0.5em;
  text-align: right;
  font-size: 1.2em;
}

/* == FOOTER == */
footer {
  text-align: center;
  margin: 0;
  background-color: #161616;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

.archive-link {
  font-family: var(--text-header-family);
}

/* ==PSEUDOCLASSES== */
.nav-link,
.link {
  color: var(--link-clr) !important;
  text-decoration: none !important;
  transition: opacity 0.3s;
  opacity: 0.85;
}
.nav-link:hover,
.link:hover {
  opacity: 1;
}

.fancy-link {
  position: relative;
}
.fancy-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: var(--hv-clr);
  transform: scaleX(0);
  transition: transform 0.25s;
}
.fancy-link:hover::after, .fancy-link:focus::after {
  transform: scaleX(1);
}

.card:hover .btn {
  background-color: #faa !important;
}

/* == ANIMATIONS == */
@keyframes bg-anim {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes appear-anim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ==MOBILE ADJUSTMENTS (mobile first? no) == */
@media screen and (max-width: 800px) {
  .brand {
    max-width: 50px;
  }
  .welcome {
    font-size: 125px;
  }
  nav a {
    font-size: 22px;
  }
  .container {
    margin: 0;
    padding: 0 5%;
  }
  .icons a.icon {
    margin: 10%;
  }
  .icons a.icon img {
    width: 50px;
  }
  #selfie {
    height: 10em;
    padding-left: 0 !important;
    float: none !important;
    transform: translateX(0) !important;
    margin: 1em auto;
  }
  .navbar-collapse.show {
    background-color: rgba(255, 255, 255, 0.5333333333) !important;
  }
  .scrolled .navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.6666666667) !important;
  }
}
/* BOOTSTRAP OVERRIDES */
.d-flex.flex-column {
  gap: 2em;
}

/*# sourceMappingURL=style.css.map */
