@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

body {
    background: #111;
    font-family: "Oswald";
    color: white;
    text-align: center;
}

span {
    width: 50px;
    height: 200%;
    animation: bg-anim 5s ease-in-out infinite;
    background: linear-gradient(#111 50%, yellow 50%);
    background-size: 20% 20%;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    z-index: -1;
}

h1 {
    z-index: 1;
    font-size: 64pt;
    text-align: center;
    text-shadow: 0 0 5px #000;
    margin-top: 0;
}

@keyframes bg-anim {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 100% 100%
    }
}

div {
    margin: 0 10px 50px 10px;
    background: #333A;
    padding: 0 10%;
    box-shadow: 0 0 15px #333;
    border-radius: 20px;
}

h2 {
    font-weight: 500;
    font-size: 24pt;
}

p {
    font-family: serif;
    font-size: 16pt;
    padding-bottom: 55px;
}