body {
    margin: 0;
    overflow: hidden;
}

.gifs {
    display: flex;
}

.gif {
    /* width: 50vw;
    height: 50vh; */

    object-fit: cover;
    transition: transform .5s;
}

.gif:hover{
    z-index: 9999;
    transform: scale(1.25);
}