body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

canvas {
  scale: 0.25;
}

.score {
  color: white;
  text-align: center;
  font-size: 40pt;
  font-family: sans-serif;

  z-index: 9999;
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
}
