body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

/* canvas {
  scale: 0.25;
} */

#scoreArea {
  color: white;
  font-size: 40pt;
  font-family: sans-serif;
  display: none;

  z-index: 9999;
  position: absolute;
  margin: 0;
  padding: .5em;
  left: 0;
}

#scoreArea.visible {
  display: unset;
}

p {
  margin: .5em;
}
